<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息编辑</title>
</head>
<body>
    <div align="right">
        <a href="{% url 'myApp:stu_self_center' %}">返回个人中心</a>
        <a href="{% url 'myApp:stu_home' %}">返回主页</a>
        <a href="{% url 'myApp:user_logout' %}" title="退出">退出</a>
    </div>
    <center>
        <font size="100">&lt;请&nbsp;假&nbsp;系&nbsp;统&gt;</font>
        <br>
        <br>
        <br>
        <br>
    </center>
        <h1>编辑信息</h1>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ edited_form.as_p }}
            <br>
            <div>
                <button type="submit">提交</button>
            </div>
            <br>
        </form>
</body>
</html>
