{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>请假记录</title>
    <!--Bootstrape Css-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "{% static '总样式.css' %}">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-lg topnav">
        <h1 class="navbar-brand">请假系统</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myApp:stu_self_center' %}">个人中心<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'myApp:leave_history' %}">请假记录</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'myApp:stu_grade' %}">我的班级<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myApp:leave' %}">请假</a>
                </li>
            </ul>
        </div>
        <a class="nav-link logout" href="{% url 'myApp:stu_self_center' %}"><p><font color ="white">{{ name }}</font></p></a>
        <a class="nav-link logout" href="{% url 'myApp:user_logout' %}" title="退出"><p><font color = "white">退出登录</font></p></a>
    </nav>
    <div id = "background"><br><br><br><br>

    <div class = "stdmsg_center_article">
        <div>
            <br>
            <h2 id = "jiatiao_top">请假记录</h2>
            <ul>
                {% for i in comment %}
                    <li class = "jiatiao">
                        <h3>{{ i.grade }}</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ i.body }}</p>
                        <p class = "jiatiao_stdname">------{{ i.stu }}</p>
                        {% if i.is_agree == True %}
                            <p>已同意</p>
                        {% elif i.is_agree == False %}
                            <p>已拒绝</p>
                        {% elif i.is_agree == None %}
                            <p>暂未处理</p>
                        {% endif %}
                        <p>{{ i.created }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light navbar-dark bg-primary">
        <a class="navbar-brand" href="#jiati  ao_top">感谢使用，点我返回顶部</a>
    </nav>

    <!--Bootstrape Js-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>